<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img class="jumbopic" src="https://www.amaysim.com.au/sites/default/files/styles/retina_2x/public/2017-08/Header_Image-nbn-com-2.png?itok=cnLdQHJt" align="right"/>
    <h1 class="display-3">win a Google Home, Chromecast Ultra and a year of nbn™</h1>
    <p class="lead">Sign up to any nbn plan before 31 August to go into the draw.
      Plans start from $40 a month.</p>
    <a href="#">T&Cs apply.</a>
    <br/><br/>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">sign up ></a>
    </p>
  </div>

</div>
