
<!-- MINI PARAGRAPH -->
<div class="container para1">
  <div class="row">

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="media">
        <img class="d-flex mr-3" src="https://www.amaysim.com.au/sites/default/files/2017-04/lock_dash_mint.svg" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0">no lock-in contracts</h5>
          Freedom to switch your plan or cancel at anytime.
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="media">
        <img class="d-flex mr-3" src="https://www.amaysim.com.au/sites/default/files/2017-04/join_dash_mint.svg" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0">simple to join</h5>
          Quick and easy online sign-up, we’ll take care of all the fiddly bits.
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="media">
        <img class="d-flex mr-3" src="https://www.amaysim.com.au/sites/default/files/2017-04/app_dash_mint.svg" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0">easy to manage</h5>
          Download our app or manage your plans online.
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MINI PARAGRAPH -->

<!-- ORANGE CARD SECTION -->
<div class="container">
  <div class="card-deck">

    <div class="card card1">
      <div class="card-body">
        <h4 class="card-title">sim-only mobile plans</h4>
        <p class="card-text">Unlimited standard talk & text with heaps of data for use in Oz.</p>
      </div>
      <img class="card-img-top" src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout_2x/public/cta/2017-05/mobile%20plans.png?itok=69f-sg5G" alt="Card image cap">
      <div class="card-footer">
        <small class="text-white"><a href="/plans/mobile">mobile plans</a></small>
      </div>
    </div>

    <div class="card card2">
      <div class="card-body">
        <h4 class="card-title">nbn broadband plans</h4>
        <p class="card-text">Unlimited data with superfast speeds. No lock-in contracts.</p>
      </div>
      <img class="card-img-top" src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout_2x/public/cta/2017-05/nbn.png?itok=YemmV9dC" alt="Card image cap">
      <div class="card-footer">
        <small class="text-white"><a href="/plans/nbn">nbn plans</a></small>
      </div>
    </div>

    <div class="card card3">
      <div class="card-body">
        <h4 class="card-title">data-only plans</h4>
        <p class="card-text">Mobile broadband for your tablets and devices, for use in Oz.</p>
      </div>
      <img class="card-img-top" src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout_2x/public/cta/2017-05/data%20only.png?itok=dGtEaTb5" alt="Card image cap">
      <div class="card-footer">
        <small class="text-white"><a href="/plans/data-plans">data-only plans</a></small>
      </div>
    </div>

  </div>
</div>
<!-- END ORANGE CARD SECTION -->

<!-- START second jumbotron -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <img src="https://www.amaysim.com.au/sites/default/files/cta/2017-07/website_award_2016-2017.png" class="float-left" alt="...">
      <a class="jumbo-compare-plan" href="/plans/mobile" >compare plans ></a>
      <h1 class="display-6">93% of our customers have recommended amaysim to their mates</h1>
      <p class="lead">NPS tracking survey of 2679 customers, May 2017</p>
    </div>
  </div>
<!-- END SECOND JUMBOTRON -->

<!-- SECOND PARA -->
<div class="container">
  <div class="row para-second-margin">
    <div class="col"><h3 class="para-second">what we've been up to</h3></div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col vno-orange">
      <h4>we've been named best VNO</h4>
      <p>Delivering on the promises that we made to Aussies 6 years ago.</p>
      <div class="vno-link">
        <a href="">read all about it ></a>
      </div>
    </div>
    <div class="col">
      <h6 class="second-para-right-col">What a two year mobile phone contract will really cost you</h6>
      <p>14 Sep 2016 in Tech Talk</p>
      <h6 class="second-para-right-col">Check out our new and improved Help section</h6>
      <p>14 Sep 2016 in Plans & Services</p>
      <h6 class="second-para-right-col">AS YOU GO credit now lasts for 365 days</h6>
      <p>16 Aug 2016 in Plans & Services</p>
    </div>
  </div>
</div>
<!-- END SECOND PARA -->

<div class="container head-to-end">
  <h3>already with amaysim?</h3>
</div>

<!-- MINI CARDS -->
<div class="container">
  <div class="row">
    <div class="col-6 col-md-3"><p class="mini-cards-p">activate sim</p></div>
    <div class="col-6 col-md-3"><p class="mini-cards-p">recharge plan</p></div>
    <div class="col-6 col-md-3"><p class="mini-cards-p">manage account</p></div>
    <div class="col-6 col-md-3"><p class="mini-cards-p">need help</p></div>
  </div>
</div>
